*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    text-wrap: balance;
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/manrope-v20-latin-500.woff2);
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/manrope-v20-latin-700.woff2);
}

body {
    font-family: "Manrope", serif;
}

.profile-card {
    max-width: 324px;
    margin: 0 auto;
    border: 1px solid rgb(212, 209, 209);
    border-radius: 12px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.profile-card-header {
    width: 100%;
    background: linear-gradient(135deg, hsl(280 60% 65%), hsl(250 70% 60%));
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #FFFFFF;
    padding: 16px;
    font-size: 0.84rem;
}

.profile-user-avatar {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 12px;
    object-fit: cover;
    border: 4px solid rgba(255, 255, 255, 0.2);
    transition: transform 300ms;
}

.profile-user-avatar:hover {
    transform: scale(1.05);
}

.profile-user-name {
    margin-bottom: 10px;
}

.profile-user-time {
    padding: 5px;
    border: 1px solid gray;
    width: 150px;
    margin: auto;
    border-radius: 15px;
    background-color: hsla(0, 0%, 100%, 0.1);
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.profile-card-content {
    padding: 26px;
}

.profile-user-bio {
    line-height: 1.5;
    font-size: 0.82rem;
    margin-bottom: 28px;
    font-weight: 500;
}

.profile-user-social {
    margin-bottom: 28px;
}

.social-title {
     border-left: 4px solid;
    border-image: linear-gradient(135deg, hsl(250, 70%, 60%), hsl(280, 60%, 65%)) 1;
    padding-left: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 13px;
}

.profile-user-social-list {
    display: flex;
    gap: 10px;
}

.profile-user-social-item {
    list-style: none;
    padding: 7px;
    border-radius: 8px;
    background: #E8E8EE;
    font-size: 0.7rem;
    transition: all 0.2s ease-in-out;
}

.profile-user-social-item:hover {
    background: #6C52E0;
    color: #FFFFFF;
    cursor: pointer;
}

.profile-user-hobbies,
.profile-user-dislikes {
    width: 90%;
}

.hobbies-title,
.dislikes-title {
    border-left: 4px solid;
    border-image: linear-gradient(135deg, hsl(250, 70%, 60%), hsl(280, 60%, 65%)) 1;
    border-radius: 20px;
    padding-left: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.dislikes-title {
    border-image: linear-gradient(135deg, hsl(14, 79%, 55%), hwb(17 53% 10%)) 1;
}

.hobbies-list li,
.dislikes-list li {
    font-size: 0.8rem;

} 

.hobbies-list,
.dislikes-list {
    padding-left: 20px;
    list-style-type: none;
    column-count: 2;  
    column-gap: 18px;  
}

.hobbies-list {
    margin-bottom: 20px;
}

.hobbies-list li::before,
.dislikes-list li::before {
  content: "•";
  font-size: 1rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.hobbies-list li::before {
  background: linear-gradient(135deg, hsl(250, 70%, 60%), hsl(280, 60%, 65%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dislikes-list li::before {
  background: linear-gradient(130deg, hsl(14, 79%, 55%), hsl(17, 70%, 60%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
    .profile-card {
        max-width: 680px;
        display: flex;
        margin-top: 90px;
        margin-bottom: 20px;
    }

    .profile-card-header {
        width: 340px;
        border-top-left-radius:12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
        padding: 20px;
        font-size: 0.92rem;
    }

    .profile-user-avatar{
        margin-top: 70px;
    }

    .profile-user-time {
        font-size: 0.7rem;
    }

    .profile-user-bio {
        line-height: 1.5;
        font-size: 0.86rem;
    }

    .profile-user-social-item {
        font-size: 0.78rem;
    }

    .interests-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
    }    

    .profile-user-hobbies,
    .profile-user-dislikes {
        width: 47%;
    }

    .hobbies-list,
    .dislikes-list {
        column-count: 1;  
    }

    .hobbies-list {
        margin-bottom: 0;
    }

    .hobbies-list li,
    .dislikes-list li {
        font-size: 0.83rem;
    } 

}

@media (min-width: 1024px) {
    .profile-card {
        max-width: 880px;
    }

    .profile-card-header {
        width: 390px;
        font-size: 1.1rem;
    }

    .profile-user-time {
        font-size: 0.8rem;
    }

    .profile-user-avatar{
        margin-top: 55px;
    }


    .profile-card-content {
        padding: 28px;
    }

    .profile-user-bio {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    .social-title {
        font-size: 1.4rem;
    }

    .profile-user-social-item {
        font-size: 0.8rem;
    }

    .hobbies-title,
    .dislikes-title {
        font-size: 1.4rem;
    }

    .hobbies-list li,
    .dislikes-list li {
        font-size: 0.89rem;
    } 

}

/* 












.hobbies-list,
.dislikes-list {
    padding-left: 20px;
    list-style-type: none;
}

.hobbies-list li,
.dislikes-list li {
    font-size: 0.86rem;

} 

 */
